<!DOCTYPE html>
<html>
<head>
    <title>Predicción precio vivienda en Madrid</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Predicción precio vivienda en Madrid</h1>
    <form action="/predict" method="post">
        <div class="input-group">
            <label for="rooms">Habitaciones:</label>           
            <input type="number" id="rooms" name="rooms" value="{{ rooms }}">
        </div>
        <div class="input-group">
            <label for="m2">Metros cuadrados (m2):</label>
            <input type="number" id="m2" name="m2" value="{{ m2 }}">
        </div>
        <div class="input-group">
            <label for="elevator">Ascensor:</label>
            <select id="elevator" name="elevator">
                <option value="1" {% if elevator == 1 %}selected{% endif %}>Si</option>
                <option value="0" {% if elevator == 0 %}selected{% endif %}>No</option>
            </select>
        </div>
       <!-- Campo oculto para garage -->
       <input type="hidden" id="garage" name="garage" value="0">
        <div class="input-group">
            <label for="floor">Planta:</label>
            <input type="number" id="floor" name="floor" value="{{ floor }}">
        </div>
        <div class="input-group">
            <label for="int_ext">Interior/Exterior:</label>
            <select id="int_ext" name="int_ext">
                <option value="exterior" {% if int_ext == 'exterior' %}selected{% endif %}>exterior</option>
                <option value="interior" {% if int_ext == 'interior' %}selected{% endif %}>interior</option>
            </select>
        </div>
        <div class="input-group">
            <label for="district">Zona:</label>
            <select id="district" name="district">
                {% for district_option in district_options %}
                    <option value="{{ district_option }}" {% if district == district_option %}selected{% endif %}>
                        {{ district_option }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <input type="submit" value="Calcular">
    </form>
    {% if prediction %}
        <h2>Precio: {{ prediction }}</h2>
    {% endif %}
</body>
</html>





